<div>
  <p>
    Copyright © 2022 Storyberries <br>
    All rights reserved. <br>
    <br>
    It's Red! No, It's Blue! was written by Andrea Kaczmarek and illustrated by Roxana Calman, with editing and book design by Jade Maitre. <br>
    <br>
    No part of this publication may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the publisher, except in the case of brief quotations embodied in critical reviews and certain other non-commercial uses permitted by copyright law. <br>
    <br>
    For permission requests, write to the publisher at read@storyberries.com <br>
    <br>
    First published in 2022 by Smart Projects Consulting trading as Storyberries
  </p>
  <button (click)="printDocument()">Print</button> 
</div>